@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
	background-color: #fff;
	color: #333;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 1300px;
	margin: 0 auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	box-sizing: border-box;
}
td {
	text-align: center;
	vertical-align: top;
}

.panel1, .panel3 {
	width: 100%;
	height: 300px;
	padding: 8px;
}
.panel1 {
	/*background-color: #622;*/
	left: 0;
}
.panel3 {
	/*background-color: #262;*/
	right: 0;
}
.panel2 {
}
.panel2 button {
	font-size: x-large;
	padding: 0 16px;
}
 
textarea {
	font-size: 10pt;
	background-color: #eee;
	color: #111;
	border: 1px inset #111;
	box-sizing: border-box;
}
#input, #output, #config, #info, #matrix {
	height: 100%;
	border: 1px solid #000;
}
#output, #config, #info, #matrix {
	white-space: pre;
}
#input {
	/*background-color: #300;
	border-color: #c00;*/
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
#output {
	/*background-color: #030;
	border-color: #0c0;*/
	width: 25%;
	max-width: 25%;
	min-width: 25%;
}
#config {
	/*background-color: #171700;
	border-color: #cccc00;*/
	width: 25%;
}
#info {
	/*background-color: #171700;
	border-color: #cccc00;*/
	width: 25%;
}
#matrix {
	/*background-color: #171700;
	border-color: #cccc00;*/
	width: 24%;
}
