@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
	background-color: #eee;
	color: #333;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	width: 1300px;
	padding: 8px;
	border: 0px solid #000;
	/*border-width: 0 1px 1px;*/
	margin: 8px auto 80px;
	box-shadow: 0 0 4px #000;
}

h1, h2 { margin: 0; }

.panel1 {
	padding: 8px 0;
}
.panel1 input {
	background-color: hsl(200, 100%, 96%);
	color: #336680;;
	font-size: large;
	padding: 8px 100px 8px 8px;
	border: 2px solid #336680;;
	border-radius: 4px;
}

.panel3 ul {
	list-style-type: none;
	padding: 0;
	border-bottom: 1px solid #336680;;
	margin: 0;
}
.panel3 ul li {
	cursor: pointer;
	display: inline-block;
	background-color: hsl(0, 0%, 96%);
	color: hsl(0, 0%, 50%);
	text-align: center;
	width: 120px;
	padding: 4px;
	border: 2px solid hsl(0, 0%, 50%);
	border-bottom-width: 0;
	border-radius: 4px 4px 0 0;
}
.panel3 ul li:hover {
	background-color: hsl(120, 100%, 96%);
	border-color: hsl(120, 43%, 35%);
}
.panel3 ul li.selected {
	background-color: hsl(200, 100%, 96%);
	color: #336680;;
	font-weight: bold;
	border-color: #336680;;
}


div.inset {
	background-color: #ddd;
	padding: 8px;
	border: 2px solid hsl(200, 100%, 50%);
	border-width: 1px 2px 2px;
}

.panel2 {
	display: none;
	padding: 8px 0;
}
.panel2 button, .panel3 button {
	font-size: large;
	padding: 0 16px;
}


textarea {
	font-size: 10pt;
	background-color: #eee;
	color: #111;
	border: 1px inset #111;
	box-sizing: border-box;
	padding: 8px;
	width: 1280px;
	min-width: 1280px;
	max-width: 1280px;
	min-height: 300px;
	max-height: 640px;
	overflow-y: auto;
}
#input, #config, #keymap, #matrix, #info {
	min-height: 250px;
	max-height: 250px;
	border: 1px solid #000;
}
#input {
	display: none;
}
#config, #matrix, #keymap, #info {
	display: none;
	white-space: pre;
}










pre#editor {
	background-color: #f5f2f0;
	/*
	color: #336680;
	color: #3399cc;
	color: #07354c;
	*/
	font-size: 10pt;
	min-height: 300px;
	max-height: 640px;
	padding: 8px;
	border: 2px inset #336680;;
	border-radius: 4px;
	margin-bottom: 0;
	overflow-y: auto;
}
pre#editor code {
	display: block;
	font-family: "Consolas";
	font-size: 10pt;
	width: 100%;
	padding: 2px 4px;
	box-sizing: border-box;
}
pre#editor code:nth-child(odd) {
	background-color: #39c6;
}
pre#editor code:nth-child(even) {
	background-color: #39c3;
}



#footer {
	display: none;
	background-color: #ffebeb;
	color: #803333;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 16px;
	border-top: 2px solid #803333;
}
#footer  p {
	margin: 0;
}
