html {
  background-color: #fff;
  color: #333;
}

body {
}

table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}
td {
  text-align: center;
  vertical-align: top;
}

.panel1, .panel3 {
  width: 100%;
  height: 300px;
  padding: 8px;
}
.panel1 {
  /*background-color: #622;*/
  left: 0;
}
.panel3 {
  /*background-color: #262;*/
  right: 0;
}
.panel2 {
}
.panel2 button {
  font-size: x-large;
  padding: 0 16px;
}
 
textarea {
  font-size: 10pt;
  background-color: #eee;
  color: #111;
  border: 1px inset #111;
  box-sizing: border-box;
}
#input, #output, #config, #info {
  height: 100%;
  border: 1px solid #000;
}
#input {
  /*background-color: #300;
  border-color: #c00;*/
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
#output {
  /*background-color: #030;
  border-color: #0c0;*/
  width: 33%;
  max-width: 33%;
  min-width: 33%;
}
#config {
  /*background-color: #171700;
  border-color: #cccc00;*/
  width: 33%;
}
#info {
  /*background-color: #171700;
  border-color: #cccc00;*/
  width: 33%;
}
