@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
	background-color: #eee;
	color: #333;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	width: 1300px;
	padding: 8px;
	margin: 0 auto;
	border: 1px solid #000;
	border-width: 0 1px;
	box-shadow: 0 0 4px #000;
}

h1, h2 { margin: 0; }

.panel3 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.panel3 ul li {
	cursor: pointer;
	display: inline-block;
	background-color: #eee;
	padding: 0 24px;
	border: 1px solid #000;
	border-width: 1px 1px 0;
	border-radius: 4px 4px 0 0;
}
.panel3 ul li:hover {
	background-color: #dde;
}
.panel3 ul li.selected {
	background-color: #ccf;
	font-weight: bold;
}


div.inset {
	background-color: #ddd;
	padding: 4px;
	border: 1px solid #000;
}

.panel2 {
	padding: 8px 0;
}
.panel2 button, .panel1 input, .panel1 button {
	font-size: large;
	padding: 0 16px;
}


textarea {
	font-size: 10pt;
	background-color: #eee;
	color: #111;
	border: 1px inset #111;
	box-sizing: border-box;
	width: 1290px;
	min-width: 1290px;
	max-width: 1290px;
	min-height: 580px;
	max-height: 580px;
}
#input, #config, #keymap, #matrix, #info {
	min-height: 250px;
	max-height: 250px;
	border: 1px solid #000;
}
#input {
	display: none;
}
#config, #matrix, #keymap, #info {
	display: none;
	white-space: pre;
}
